body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerResultText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 15px;
  margin: 10px;
  border: 1px solid darkgrey;
  transition-duration: 0.1s;
}

.result {
  font-size: xx-large;
}

.buttonAnimate {
  transform: scale(1.1);
  background-color: darkgrey;
}
